<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/common.css">
</head>
<body>
    <div id="navbar-division">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/customers">CUSTOMERS</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/sales">SALES</a></li>
        </ul>
    </div>
    <h1> Index Page</h1>
    
</body>
</html>